/**
 * Instance by DrewIt
 */

@font-face {
    font-family: 'open';
    src: url('../bin/fonts/Openfont.ttf');
}
*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #dbdbdb29;
}
* {
    margin: 0;
    padding: 0;
    border: 0 solid;
    font-weight: 300;
    text-decoration: none;
    outline: 0 none transparent;
}
*, *::before, *::after, *::backdrop {
    border-color: transparent;
}
html {
    height: 100dvh;
    width: 100dvw;
}
html body {
    height: 100%;
    background-color: #191919;
    color: #fff;
    font-family: 'open';
    background-repeat: repeat;
    background-position: right;
}
html h2 {
    font-size: 1.5em;
    font-weight: 300;
}
div#content-onload {
    position: absolute;
    height: 100%;
    width: 100dvw;
    transition: opacity .3s ease-out;
}
div#content-onload[data-state="visible"] {
    opacity: 1;
    z-index: 9;
}
div#content-onload[data-state="invisible"] {
    opacity: 0;
    z-index: -1;
}
div#background-overlay {
    backdrop-filter: blur(100px);
    z-index: 1;
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    background-color: #222222b0;
}
.visual-layer {
    width: 100%;
    height: 100%;
    position: absolute;
}
.visual-layer[open] {
    opacity: 1;
    z-index: 3;
    pointer-events: all;
}
.visual-layer[close] {
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}
#main.visual-layer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
}
#main.visual-layer > div {
    gap: 30px;
    width: 100%;
}
.visual-layer #catalogues-handle {
    height: 100%;
    padding: 10px;
}
.visual-layer #catalogues-handle > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
.visual-layer #catalogues-handle #header {
    display: flex;
    flex-direction: column !important;
    align-items: center;
}
.visual-layer #catalogues-handle #header .head {
    font-size: 30px;
}
.visual-layer #catalogues-handle #header h2 {
    padding-top: 20px;
    opacity: .8;
}
.visual-layer #catalogues-handle #main-con {
    padding-top: 6em;
    padding-inline: 9px;
    width: 100%;
    max-width: 56em;
}
.visual-layer #catalogues-handle section#catalogues-block {
    margin-top: 6em;
    width: 100%;
    padding-block: 15px;
    padding-inline: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.visual-layer .catalogue {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #f8f8f80d;
    background-color: #f8f8f80d;
    transition: all .3s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position-x: center;
    scroll-snap-align: start;
    flex-shrink: 0;
    padding: 13px 0;
    padding-inline: 3em;
}
.visual-layer .catalogue span#title {
    font-size: 1.4em;
    padding-bottom: 10px;
}
.visual-layer .catalogue span#desc {
    max-width: 410px;
    padding-bottom: 10px;
}
.visual-layer .catalogue .btab {
    left: 0px;
    top: 20px;
    position: relative;
}
div#con-2 {
    width: 100%;
    display: block;
    overflow: hidden;
    overflow-y: auto;
}
va-body {
    height: 100%;
    display: block;
    position: relative;
}
va-mag-pic {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ffffff14;
    width: 430px;
    height: calc(100dvh - 100px);
    display: block;
    position: relative;
}
va-mag-pic #mag-posts {
    display: flex;
    overflow: hidden;
    height: 100%;
    flex-shrink: 0;
    position: relative;
}
va-mag-pic #mag-posts .mag-post {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}
va-mag-pic #mag-posts .mag-post[next] {
    transform: translateX(100%);
    opacity: 0;
}
va-mag-pic #mag-posts .mag-post[prev] {
    transform: translateX(-100%);
    opacity: 0;
}
va-mag-pic #mag-posts .mag-post[now] {
    transform: translateX(0);
    z-index: 3;
}
va-mag-pic .mag-description {
    position: absolute;
    bottom: 0;
    height: 225px;
    width: 100%;
    cursor: default;
    z-index: 4;
}
va-mag-pic .mag-description > div {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
}
va-mag-pic .mag-description > * {
    padding: 0 20px;
}
va-mag-con {
    padding: 15px;
    display: block;
    max-width: 800px;
}
va-mag-con #mags {
    display: flex;
    flex-direction: column !important;
    position: relative;
    height: 100%;
}
va-mag-con #mags .mag-con {
    position: absolute;
    width: 100%;
    height: fit-content;
    opacity: 0;
    transform: translateY(40px);
    pointer-events: none;
    display: flex;
    flex-direction: column !important;
}
va-mag-con #mags .mag-con > span:hover {
    opacity: 1;
    color: #dbdbdb;
}
va-mag-con #mags .mag-con[now] {
    transition: all .6s ease-in-out;
    transform: translateY(0px);
    transition-delay: .2s;
    opacity: 1;
    pointer-events: all;
}
va-mag-con .mag-con .mag-d {
    line-height: 1.6;
    display: inline;
}
va-mag-con .mag-con #author {
    letter-spacing: .6px;
    cursor: pointer;
}
.size-6 {
    width: 1.5rem;
    height: 1.5rem;
}
.btab {
    border: 1px solid #ffffff90;
    padding: 5px 18px !important;
    border-radius: 20px;
    font-size: 16px;
    width: fit-content;
    position: absolute;
    bottom: 50px;
    left: 20px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.btab:hover {
    background-color: #ffffff;
    color: #191919;
}
.htab {
    padding: 4px 4px;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.htab:hover {
    background-color: #ffffff14;
    opacity: 1;
}
div.liner {
    width: 100%;
    height: 2px;
    flex: 1;
    background-color: #ffffff6e;
}
@media (min-width: 500px) {
    #main.visual-layer > div {
        padding: 0 40px !important;
    }
    .visual-layer .card {
        max-width: 500px !important;
        width: 40% !important;
    }
    .visual-layer .catalogue {
        min-width: 500px !important;
    }
}
@media (min-width: 0px) {
    .visual-layer .card {
        max-width: 100%;
        width: 100%;
    }
}